/*
1. Posicionamiento -> Absolute, Relative
2. Modelo caja (Box Model) ->Margin, Padding
3. Tipografías
4. Visuales -> box shadown
5. Otros
*/
:root{
/* Colores*/
--bitcoin-orange: #F7931A; /*variables*/
--soft-orange: #FFE9D5;
--secondary-blue: #1A9AF7;
--soft-blue: #E7F5FF;
--warm-black: #201E1C;
--black: #282623;
--grey: #BABABA;
--off-white: #FAF8F7;
--white: #ffffff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%; /*Para utilizar rem en lugar de pixeles*/
    font-family: 'DM Sans', sans-serif;
}
header{
    /*Posicionamiento*/
    position: relative;
    /*modelo de caja*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 334px;
    /*Tipografías*/
    /*Visuales*/
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 70px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
    align-self: center;
    margin-top: 35px;
}
.header--title-container h1{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-container p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute; /*cuando usamos absolute podemos usar top, bottom, left and right*/
    left: calc(50% - 229px/2);
    top: 288px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.823rem;
    text-decoration: none;
    color: var(--warm-black);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../assets/icons/down-arrow.svg);
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main--exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main--exchange-container .backgroundImg{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url(../assets/images/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main--exchange-container h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 30px;
}
.main--exchange-container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: #757575;
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    margin-top: 48px;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    line height: 2.3rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
} 
.currency-table--container td{
    padding: 0 12px;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--white);
}
.currency-table--container .table__top-left{
    border-radius: 8px 0px 0px 0px;
}
.currency-table--container .table__top-right{
    border-radius: 0px 8px 0px 0px;
}
.currency-table--container .table__bottom-left{
    border-radius:  0px 0px 0px 8px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0px 0px 8px 0px;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
}
.currency-table--container .table__left{
    text-align: left;
}
.currency-table--container .down{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--container .up{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 auto;
    width: 80%;
    min-width: 173px;
    max-width: 280px;
    border-radius: 8px;
    height: 31px;
    background-color: var(--soft-orange);
}
.currency-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--black);
}
.commission-table--date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 auto;
    width: 80%;
    min-width: 173px;
    max-width: 280px;
    border-radius: 8px;
    height: 31px;
    background-color: var(--soft-blue);
    margin-bottom: 34px;
}
.commission-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--black);
}
.main-currency-table .commission-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    line height: 2.3rem;
    font-weight: 700;
    color: var(--secondary-blue);
}
.commission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.commission-table--grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(117.5px, 250px) minmax(117.5px, 250px);
    grid-template-rows: auto auto;
    grid-gap: 1px;
    color: var(--grey);
    background-color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    align-items: center;
    border-radius: 8px;
}
.commission-table--container .table__right{
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
    padding: 0 12px;
}
.commission-table--container .table__left{
    text-align: left;
    padding: 0 12px;
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 47px 16px 30px 16px;
    background-color: var(--warm-black);
}
.product-detail--batatabit-logo{
    position: absolute;
    width: 40.57px;
    height: 24.01px;
    top: -15px;
    left: calc(50% - 25px);
    background-image: url('../assets/icons/batata.svg');
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 17px;
    text-align: center;
}
.product-detail--title h2{
    font-weight: 700;
    font-size: 2.4rem;
    line height: 2.6rem;
    color: var(--white);
    margin-bottom: 24px;
}
.product-detail--title p{
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}
.product-cards--container{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 16px;
}
.product-details--card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    min-height: 152px;
    margin: 15px auto;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 14px 20px 22px 16px;
}
.product-details--card .clock{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-details--card .product--card-title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--white);
    margin-bottom: 10px;
}
.product-details--card .product--card-body{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}
.product-details--card .eye{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-details--card .dolar{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-details--card .check{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/images/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    font-weight: 700;
    font-size: 2.4rem;
    line height: 2.6rem;
    color: var(--white);
    padding-top: 64px;
}
.main-plans--container{
    width: 100%;
    min-width: 320px;
    padding: 64px 0;
    text-align: center;
    background-color: var(--off-white);
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}
.plans--title h2{
    font-weight: 700;
    font-size: 2.4rem;
    line height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 24px;
}
.plans--title p{
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    /* gap: 8px; */
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 2px auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 220px;
    max-width: 300px;
    margin: 50px 8px 2px;
    height: 250px;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    padding: 0 15px;
}
.recomendado{
    position: absolute;
    width: 110px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.452rem;
    font-weight: 700;
    top: -15.5px;
    left: calc(50% - 55px);
    padding: 8px;
}
.plan-card--title{
    padding-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: black;
    padding: 16px 0;
}
.plan-card--price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 15px;
    top: 76px;
    left: calc(50% - 40px);
}
.plan-card--saving{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
    margin-bottom: 16px;
}
.plan-card--ca{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 48px;
    background: #FAF8F7;
    border: 2px solid #F7931A;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6rem;
}
.plan-card--ca span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
    margin-left: 8px;
} 
.plan-card-unique--price{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: black;
    padding: 16px 0;
}
.plan-card-unique--price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 15px;
    top: 76px;
    left: calc(50% - 55px);
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .footer-left ul{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    list-style: none;
}
.footer-left li{
    margin: 10px 0;
}
.footer-left a{
    text-decoration: none;
    color: var(--white);
}
